<p id="notice"><%= notice %></p>

<h1>Menu</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Section</th>
    </tr>
  </thead>

  <tbody>
    <% @menu.each do |menu| %>
      <tr>
        <td><%= menu.name %></td>
        <td><%= menu.section.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
